html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

h1 {
	margin: 0;
}

#signupButton, #createAccount {
	margin: 0 auto;
	display: block;
}

#mainPageTitle {
	color: white;
}
.formWrapper {
	padding-top: 100px;
	margin: 0 auto;
	
	height: 100%;
	background-image: url("images/skydiving.png");
	background-size: cover;

}

h1, h2 {
	text-align: center;
}

input {
	display: block;
	height: 35px;
	margin: 0 auto;
	color: gray;
	width: 200px;
}


ul {
	list-style: none;
	width: 400px;
	margin: 0 auto;
	overflow: scroll;
	max-height: 400px;
	overflow-y: scroll;
}

ul li {
	border-bottom: 1px solid #3F3F3F;
	padding: 8px 0;

}

.activitiesBackground {
	width: 80%;
	background-image:url("images/white-background.png");
	padding: 25px;
}

.activityInList {
	font-size: 1.5em;
}



.activityImage {
	height: 200px;
	width: 200px;
	float: right;
	display: block;
}

textarea, #findFriends {
	resize: none;
	display: block;
	margin: 0 auto;
}

#activityTitle {
	text-align: center;
	clear: both;
}


#backButton, #editButton, #saveButton, #logoutButton, #addActivity, #deleteButton, #friendButton  {
	height: 50px;
	width: 50px;

}


#editButton, #saveButton, #logoutButton, #deleteButton, #addActivity, #friendButton {
	margin-left: 30px;
}

.addFriend, .acceptRequest, .declineRequest  {
	float: right;
	height: 45px;
	width: 45px;
	padding-bottom: 10px;
}

.acceptRequest, .declineRequest {
	position: relative;
	bottom: 7px;
}

.acceptRequest {
	right: 35px;
}

.declineRequest {
	right:-50px; 
}

.friendRequestSent {
	float: right;
	height: 45px;
	padding-bottom: 10px;
	margin: 0;
}

.friendResult {
	height: 50px;
	line-height: 40px;
}

#yourFriends {
	margin-top: 20px;
}







