html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

h1 {
	margin: 0;
}
.formWrapper {
	padding-top: 100px;
	margin: 0 auto;
	
	height: 100%;
	background-image: url("images/skydiving.png");
	background-size: cover;

}

h1 {
	text-align: center;
}

input {
	display: block;
	height: 35px;
	margin: 0 auto;
	color: gray;
}


ul {
	list-style: none;
	width: 400px;
	margin: 0 auto;
	overflow: scroll;
	max-height: 400px;
	overflow-y: scroll;
}

ul li {
	border-bottom: 1px solid #3F3F3F;
	padding: 8px 0;

}

.activitiesBackground {
	width: 50%;
	background-color: white;
	padding: 25px;
	opacity: 0.7;
}

.activityInList {
	font-size: 1.5em;
}

